WECHAT_MINI_PROGRAM_ENABLED=true
WECHAT_MINI_PROGRAM_APP_ID=你的小程序AppID
WECHAT_MINI_PROGRAM_APP_SECRET=你的小程序AppSecret
WECHAT_MINI_PROGRAM_SUBSCRIBE_ENABLED=true
WECHAT_MINI_PROGRAM_SUBSCRIBE_SOS_TEMPLATE_ID=你的SOS订阅消息模板ID
LOGISTICS_ENABLED=false
LOGISTICS_PROVIDER=kdniao
LOGISTICS_QUERY_ON_SHIP=true
LOGISTICS_KDNIAO_ENABLED=false
LOGISTICS_KDNIAO_EBUSINESS_ID=你的快递鸟EBusinessID
LOGISTICS_KDNIAO_APP_KEY=你的快递鸟AppKey
LOGISTICS_KDNIAO_BASE_URL=https://api.kdniao.com/Ebusiness/EbusinessOrderHandle.aspx
